* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    background: #FD6E0A;
    border-radius: 5px;
    border: 0;
    padding: 10px 25px;
}
.btn-contact{
    color: #FD6E0A;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #FD6E0A;
    padding: 10px 25px;
}


.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
section {
    margin-top: 110px;
}

/* Header logo and navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}

.logo {
    font-weight: 800;
    font-size: 40px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}
/* Banner Design */
.banner {
    display: flex;
    align-items: center;
    margin: 0 150px;
}
.banner-title {
    font-weight: 700;
    font-size: 55px;
    line-height: 116px;
    margin-bottom: 20px;
}
.banner-subtitle {
    font-weight: 600;
    font-size: 35px;
    line-height: 61px;
    margin-bottom: 5px;
}
.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main Section Design */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About Me Section Styles */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}
.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #181818;

}
.section-description {
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    color: #757575;

}
.about-info-container {
    display: flex;
    justify-content: space-around   ;
}
.about-info-title {
    font-size: 18px;
    color: #757575;
}
.about-info-description {
    font-size: 18px;
    font-weight: 700;
    color: #474747;
}

/* What I Do Section Styles */
.skills-container {
    display: flex;
    gap: 25px;
}
.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px; 
}
.skill-description {
    color: #757575;
    margin-bottom: 50px;
}

/* Resume Section Styles */
.resume-content {
    display: flex;
    gap: 24px;
}
.resume-title {
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-item .title {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    margin-bottom: 10px;
}
.resume-item .sub-title {
    font-weight: 600;
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
}
.resume-item .description {
    font-size: 16px;
    color: #757575;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* Contact Section Styles */
.contact {
    display: flex;
    gap: 110px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title {
    text-align: left;
    margin-bottom: 20px; 
    font-size: 25px;  
}
.contact .section-description {
    text-align: left;
    font-size: 16px;
}

.contact input[type="text"], input[type="email"], textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

/* Footer Section Styles */
.footer{
    text-align: center;
    font-size: 12px;
    color: #181818
}